<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework" level="ERROR"/>
	<logger name="ch.qos" level="ERROR"/>
    <logger name="com.commerce" level="ERROR"/>
    <logger name="org.commerce" level="ERROR"/>
</configuration>